@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Description</p>
</div>

<div>
    @foreach (var item in Model.Room.Crossroads)
    {
        <button>
            @item.Description
        </button>
    }
</div>

