@page
@model Rpg.Pages.TutorialModel
@{
    ViewData["Title"] = "Tutorial";
}


<link rel="stylesheet" href="~/css/Tutorial.css" />
<div class="container">
    <div class="PlayingArea">
        <!--Zde jsou statistiky hráče-->
        <div class="player">
            <h4>Ty</h4>
            <ul class="stats">
                <li class="stat">Vitalita: 100 <span class="stat-desc">Tvé životy</span></li>
                <li class="stat">MP: 50 <span class="stat-desc">Tvá mana</span></li>
                <li class="stat">Poškození: 5 <span class="stat-desc">Tvůj útok</span></li>
                <li class="stat">Brnění: 5 <span class="stat-desc">Tvoje obrana proti poškození</span></li>
            </ul>
            <p><strong>Zde jsou tvé statistiky</strong></p>
            <p>(Ukaž na ně myší pro detailní infomace)</p>
        </div>
        <!--Zde jsou všechny možné volby-->
        <div class="choices">
            <h2>@Model.Room.Description</h2>
            @foreach (var item in Model.Room.Crossroads)
            {
                <div><a asp-page="/Room" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></div>
            }
            <p>V inventáří budeš mít použitelné předměty, které najdeš na cestě nebo si je koupíš u obchodníka</p>
            <button class="btn btn-primary" id="Inventory">Inventář (not implemented)</button>
        </div>
        <!--Zde jsou statistiky počítače-->
        <div class="npc">
            <h4>Nepřítel</h4>
            <ul class="stats">
                <li class="stat">Vitalita: 100 <span class="stat-desc">Životy nepřítele</span></li>
                <li class="stat">MP: 50 <span class="stat-desc">Mana nepřítele</span></li>
                <li class="stat">Poškození: 2 <span class="stat-desc">Útok nepřítele</span></li>
                <li class="stat">Brnění: 0 <span class="stat-desc">Obrana nepřítele proti tvému poškození</span></li>
            </ul>
            <p><strong>Zde jsou statistiky tvého nepřítele</strong></p>
            <p>(Ukaž na ně myší pro detailní infomace)</p>
        </div>
    </div>
    <div class="inventory lightbox">
        <div class="inventory-content">

        </div>
        <span class="close">&times;</span>
    </div>
</div>

