@page
@model Rpg.Pages.TutorialModel
@{
    ViewData["Title"] = "Tutorial";
}


<link rel="stylesheet" href="~/css/Tutorial.css" />
<div class="container">
    <div class="PlayingArea">
        <!--Zde jsou statistiky hráče-->
        <div class="player">
            <h4>Ty</h4>
            <ul class="stats">
                <li>Vitalita: 100</li>
                <li>MP: 50</li>
                <li>Poškození: 5</li>
                <li>Brnění: 5</li>
            </ul>
        </div>
        <!--Zde jsou všechny možné volby-->
        <div class="choices">
            <h2>@Model.Room.Description</h2>
            @foreach (var item in Model.Room.Crossroads)
            {
                <div><a asp-page="/Room" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></div>
            }
        </div>
        <!--Zde jsou statistiky počítače-->
        <div class="npc">
            <h4>Nepřítelovi statistiky</h4>
            <ul class="stats">
                <li>Vitalita: 100</li>
                <li>MP: 50</li>
                <li>Poškození: 2</li>
                <li>Brnění: 0</li>
            </ul>
        </div>
    </div>
</div>

