/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin: 1px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Player, Npc Stats + choices positioning
---------------------------------------------------------*/
.container {
    max-width: 1300px;
}

.player {
    grid-area: PlayerStats;
}

.npc {
    grid-area: NpcStats;
}

.choices {
    grid-area: choices;
    text-align: center;
}

.PlayingArea {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "PlayerStats choices NpcStats";
}

.player h4, .npc h4 {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 0px;
    background-color: black;
    color: white;
    padding-bottom: 5px;
}

.stats {
    border: 2px solid black;
}

.choices ul li {
    display: block;
}

.lightbox {
    position: fixed;
    z-index: 1;
    padding: 15% 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.win, .lose {
    position: relative;
    margin: auto;
    padding: 3% 0;
    width: 90%;
    max-width: 1200px;
}

.win {
    background-color: #0e8b06
}

.lose {
    background-color: #9a0c0c;
    color: royalblue;
}

.inventory {
    display: none;
}

.close {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}