.stats {
    border-color: red;
}

.player {
    grid-area: PlayerStats;
}

.npc {
    grid-area: NpcStats;
}

.choices {
    grid-area: choices;
    text-align: center;
}

.PlayingArea {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "PlayerStats choices NpcStats";
}

p {
    margin: 4px 0px;
}